name: Build and publish
on:
  push:
    tags:
      - 'r*'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build_and_publish:
    name: Build and publish the application
    runs-on: ubuntu-24.04
    steps:
      -
        name: Check out the repo
        uses: actions/checkout@v4
      -
        name: Setup golang version
        uses: actions/setup-go@v5
        with:
          go-version: '^1.24'
          cache: true
      -
        name: Verify golang version
        run: go version
      -
        name: Install dependencies
        run: go mod download
      -
        name: Run tests
        run: go test ./...
      -
        name: Build
        run: make all
      -
        name: Create release and upload assets
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: |
            ./pam-keycloak-oidc.linux-amd64
            ./pam-keycloak-oidc.linux-arm64
            ./pam-keycloak-oidc.darwin-amd64
            ./pam-keycloak-oidc.darwin-arm64
            ./pam-keycloak-oidc.windows-amd64.exe
            ./pam-keycloak-oidc.windows-arm64.exe
